#quizChallenge{
    padding-top: 100px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
#questionAnswerContainer{
    padding-top: 100px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    padding-bottom: 30px;
}
p{
    padding-bottom: 30px;
}
#timer{
    height: 150px;
    width: 150px;
    position: absolute;
    top:0;
    right:0;
}
.time{
    width: 100%;
    text-align: center;
}
#minutes{
    font-size: 1em;
    float: left;
    margin-left: 25%;
}
#seconds{
    font-size: 1em;
    float: left;
}
.hide{
    display: none;
}
#question-container{
    padding-top:200px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.results{
    font-style: italic;
    font: 0.5rem;
    padding-top:20px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
#finalScore{
    padding-top: 100px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
#highscore{
    padding-top: 100px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}


   